
.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.team-list__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--white-color-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:nth-child(4n) {
  margin-right: 0;
}

.team-list__item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.team-list__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
}




.social-list {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__button {
  display: flex;
  color: var(--default-color-icon);
  background-color: var(--white-color-text);
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color var(--duration-function) var(--timing-function);
}

.social-list__button:hover {
  background-color: var(--blue-primary);
  fill: var(--white-color-text);
}

.social-list__icon {
  width: 44px;
  padding: 12px;
  fill: currentColor;
  transition: fill var(--duration-function) var(--timing-function);
}

.social-list__icon:hover {
  fill: var(--white-color-text);
}
